static/
*.jpg
venv/*
paragon/settings.py
*.so.*
*.so
dewarpmodule/OLD/
dewarpmodule/src/src/
dewarpmodule/src/prog/*.jpg
dewarpmodule/src/Dewarp/*.jpg
dewarpmodule/src/ocropy-master/tests/
modulepipe/*.jpg
modulepipe/example/*


