{% load static %}
<footer>
	<ul class="list-inline">
		<li><img src="{% static 'img/USC_Linear.png' %}" class="img-responsive" /></li>
		<li><img src="{% static 'img/neh_logo_horizontal.png' %}" class="img-responsive" /></li>
		<li><img src="{% static 'img/cdh_logo_W.png' %}" class="img-responsive" /></li>
	</ul>
</footer>

<script src="{% static 'js/jquery-2.1.3.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/platform.js' %}"></script>
<script>var username = "{{username}}";</script>
<script src="{% static 'js/paragon-scripts.js' %}?ver=0.5"></script>
<script src="{% static 'js/paragon-visuals.js' %}?ver=0.6.1.1"></script>
